<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- File to read version from - not used if passed on command line as param #1 -->
    <add key="OutputFile" value="" />
    
    <!-- Text file to update with version info -->
    <add key="VersionUpdateFileName" value="CurrentVersion.txt" />

    <!-- Location of VersionUpdateFileName - not used if passed on command line as param #2 -->
    <add key="VersionUpdateFileLocation" value="" />
    
  </appSettings>
</configuration>