<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FX.SalesLogix.Modules.GitExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <FX.SalesLogix.Modules.GitExtensions.Properties.Settings>
            <setting name="FX_SalesLogix_Modules_GitExtensions_FeedbackService_Feedback"
                serializeAs="String">
                <value>http://www.cfxconnect.com/GitExtensionsFeedback/Feedback.asmx</value>
            </setting>
        </FX.SalesLogix.Modules.GitExtensions.Properties.Settings>
    </applicationSettings>
</configuration>